extends ../layouts/main-layout.pug
block content
  main 
    if errorMessage 
      h3 #{errorMessage}
    form.login-form(action="/login", method="POST")
      include ../includes/token-input.pug
      .form-control
        label(for="email") 登入信箱
        input(type="email" name="email" id="email")
      .form-control
        label(for="password") 密碼
        input(type="password" name="password" id="password")
      button.btn(type="submit") 登入