extends ../layouts/main-layout.pug
block styles
  //- link(rel="stylesheet", href="/css/login.css")
block content
  .container
    .row
      .col-md-8.mx-auto
        include ../includes/error-message.pug
        form(action="/reset", method="POST")
          include ../includes/token-input.pug
          .form-group
            label(for="email") 信箱
            input.form-control(
              type="email"
              name="email"
              id="email"
              required
            )
          .d-flex.justify-content-end
            button.btn.btn-primary(type="submit") 重設密碼