extends ../layouts/main-layout.pug
block content
  main 
    include ../includes/error-message.pug
    form.login-form(action="/signup", method="POST")
      include ../includes/token-input.pug
      .form-control
        label(for="email") 信箱
        input(type="email" name="email" id="email")
      .form-control
        label(for="password") 密碼
        input(type="password" name="password" id="password")
      .form-control
        label(for="confirmPassword") 確認密碼
        input(type="password" name="confirmPassword" id="confrimPassword")
      button.btn(type="submit") 送出