@import "config";

.grid {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  .card {
    background-color: $light;
    max-width: 500px;
    padding: 1rem;
    margin: 0 1.5rem;
    @include box-shadow;
    @include round-border;
    &__image {
      width: 50%;
      display: inline-block;
      img {
        width: 200px;
        height: 200px;
        object-fit: contain;
      }
    }
    &__info {
      vertical-align: top;
      width: 50%;
      display: inline-block;
    }
    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__description {
      margin: 1rem 0;
      padding: 0 0.5rem;
    }
  }
  .product {
    &__title {
      margin: 0.5rem 0;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__price,
    &__author,
    &__category {
      padding-top: 0.5rem;
      font-size: $font-medium;
      color: $dark;
    }
    &__description {
      color: $dark-gray;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}
