@import "config";

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}
.btn {
  display: inline-block;
  background-color: transparent;
  color: $primary-color;
  font-size: $font-medium;
  border: none;
  padding: 3px 5px;
  border-radius: 2px 2px;
  &:hover {
    cursor: pointer;
    color: set-text-color($primary-color);
    background-color: $primary-color;
  }
  &.fav {
    color: $secondary-color;
    &:hover {
      color: set-text-color($secondary-color);
      background-color: $secondary-color;
    }
  }
}

.form-control {
  width: 100%;
  font-size: $font-medium;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  background-color: $white;
  input,
  select,
  text,
  textarea {
    font-size: $font-medium;
    text-indent: 0.5rem;
    font-weight: 300;
    width: 100%;
    height: 35px;
    border-radius: 3px 3px;
    border: none;
    border: 1px solid #aaa;
    background-color: transparent;
  }
  textarea {
    height: 70px;
  }
  .must-fill::after {
    content: "*";
    color: red;
  }
}
.invalid {
  background-color: rgba(251, 131, 131, 0.2) !important;
  border-color: red !important;
}
