section 
  ul.message-list
    h3 留言
    br
    each message in messages 
      li.message-list__item
        .message
          p.message__user #{message.user}:
          p.message__content #{message.content}
          p.message__time #{message.createdAt}
    form(action="/shop/"+ prod.id method="POST")
      include ./token-input.pug
      .form-control
        textarea(name="content" placeholder="寫些什麼...")
      button.btn(type="submit") 送出