.search
  form.mt-1.mx-lg-4.form-inline(action="/shop/search" method="POST")
    include ./token-input.pug
    input.mr-sm-2.form-control.form-control-sm(type="search" name="keyword" placeholder="書名 作者 ISBN") 
    button.btn.btn-sm.btn-outline-light(type="submit") 搜尋
    