<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/main-layout.css")
        block styles
        block scripts
    body   
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/shop") 書店
                    li.main-header__item
                        a(href="/admin") 用戶
                    li.main-header__item
                        a(href="/transaction") 交易
                    li.main-header__item
                        a(href="/chat") 訊息
                ul.main-header__item-list
                  include ../includes/search.pug
                  if user 
                    li.main-header__item
                      form(action="/logout" method="POST")
                        include ../includes/token-input.pug
                        button(type="submit") 登出
                   
                  else
                    li.main-header__item
                      a(href="/login") 登入
                    li.main-header__item
                      a(href="/signup") 註冊
        .main
          .main__content
            block content
          .main__side-bar
            include ../includes/side-bar.pug